.pokemon-button {
  @apply w-36 h-36 lg:w-48 lg:h-48 absolute bottom-full left-1/2;
  @apply -translate-x-1/2 translate-y-[40%] lg:translate-y-[30%];
  @apply bg-transparent btn btn-text;
  @apply rounded-full;
}

.pokemon-button:hover {
  filter: none !important;
}

.pokemon-button__ball {
  @apply absolute top-0 left-0 w-full h-full opacity-90 bg-no-repeat;
  content: '';
  z-index: -1;
  background-image: url(/pokeball.png);
  background-position: 50%;
  background-size: 100%;
}

.pokemon-button_catching .pokemon-button__ball {
  @apply animate-pokeball;
}

.pokemon-button_catching img,
.pokemon-button img[src$='/pokeball.png'] {
  visibility: hidden;
}

.pokemon-button:not(.pokemon-button_catching):hover img {
  @apply scale-150;
}

.pokemon-button__ball__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1) 40%,
    rgba(0, 0, 0, 0) 50%
  );
  transform: rotateX(90deg) translateZ(-160px);
  z-index: 1;
}

.about__title {
  @apply text-3xl text-neutral-bright1 mb-1;
}

.about__value {
  @apply text-4xl text-neutral-bright0;
}

.catched-pokemon-btn {
  @apply flex items-center justify-center gap-2 rounded-lg p-2 h-10 text-base font-semibold;
  @apply shadow-md shadow-primary-bright bg-primary-bright text-neutral-dim;
  @apply absolute bottom-0 left-1/2 -translate-x-1/2;
  min-width: 200px;
}

.catched-pokemon-btn:hover {
  @apply shadow-none;
}

.catched-pokemon-btn__badge {
  @apply font-bold text-sm w-10 h-10 flex items-center justify-center;
  @apply absolute bottom-full right-0 translate-x-1/2 translate-y-1/2 p-2;
  @apply bg-neutral-dim2 text-neutral-bright rounded-full;
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.catched-pokemon-btn:hover .catched-pokemon-btn__badge {
  transform: translate(-200px, 50%) translateX(50%);
}

.catched-pokemon-btn__text {
  @apply max-w-full text-base font-semibold;
}

@media (min-width: 481px) and (max-width: 1080.95px) {
  .about__ability {
    grid-column: 1 / span 2;
  }
}

@media (max-width: 480.95px) {
  .about__title {
    @apply text-2xl;
  }

  .about__value {
    @apply text-3xl;
  }
}
